<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="favicon.ico" />
		<title>UPMC HEALTHY DIET EVALUATION SYSTEM</title>

		<style type="text/css">
		.highcharts-yaxis-grid .highcharts-grid-line {
			display: none;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		td, th {
			border: 1px solid #dddddd;
			text-align: center;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
		</style>
	</head>
	<body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/exporting.js"></script>
<script src="js/highcharts-more.js"></script>
<script src="js/solid-gauge.js"></script>

<img src = "title_img.jpeg" hight= "51" width = "267" />
<div style="width: 600px; height: 400px; margin: 0 auto; font-family: 'Book Antiqua'">
	<div>
		<p style="text-align:center; font-size: 18px"><strong>{{user|safe}}</strong>'s Score</p>
	</div>
	<div id="container-week" style="width: 300px; height: 200px; float: left"></div>
  <div id="container-month" style="width: 300px; height: 200px; float: left"></div>
	<div>
		<p>Please note that:</p>
		<li>If your score falls between 0 to 40, it means you are leading an <strong>unhealthy</strong> diet.</li>
		<li>If your score falls between 40 to 70, it means you are leading a <strong>fair</strong> diet.</li>
		<li>If your score falls between 70 to 100, it means you are leading a <strong>healthy</strong> diet.</li>
	</div>
</div>

<div style="height: 450px">
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 15%"></div>
</div>

<div id="historyList" style="width: 600px; margin: 0 auto; font-family: 'Book Antiqua'">
	<div>
		<p style="text-align:center; font-size: 18px"><strong>{{user|safe}}</strong>'s Health Level Records by Meal</p>
	</div>
	<table id='list'>
	<tr>
		<th>Datetime</th>
		<th>Score</th>
		<th>Meal Image</th>
	</tr>
	</table>
</div>
<div id="footer" style="height: 80px"></div>
<div style="bottom:0;text-align:center">
	 <p style="font-family:'Book Antiqua';font-size: 14px">© 2017 UPMC Louis XIV, all rights reserverd </p>
</div>

<script type="text/javascript">
Highcharts.setOptions({
    chart: {
        style: {
            fontFamily: 'Book Antiqua'
        }
    }
});


var rawdata ={{data|safe}};
var newdata =[];
for(var i=0;i<rawdata.length;i++){
	var data = rawdata[i];
	var datetime = Date.UTC(data[0], data[1], data[2], data[3], data[4], data[5]);
	newdata[i]=[datetime, data[6]];
}

var table = $("#list");
var tabledata = {{ imgName|safe }};
for(var j=0;j<tabledata.length;j++){
	var row = tabledata[j];
	if(parseInt(row[2])<0){
		table.append('<tr><td>'+row[0]+'</td><td>Not food</td><td><a href="https://s3.amazonaws.com/ebiz17-team14-video-input-bucket/'+row[1]+'">view</a></td></tr>');
	}else{
		table.append('<tr><td>'+row[0]+'</td><td>'+row[2]+'</td><td><a href="https://s3.amazonaws.com/ebiz17-team14-video-input-bucket/'+row[1]+'">view</a></td></tr>');
	}
}

var gaugeOptions = {

    chart: {
        type: 'solidgauge'
    },

    title: null,

    pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.4, '#DF5353'],// red
	    [0.7, '#D1DF0D'],// yellow
	    [1.0, '#20ff7d'] // green
        ],
        lineWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        title: {
            y: -70
        },
        labels: {
            y: 16
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    }
};

// The week gauge
var chartSpeed = Highcharts.chart('container-week', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: 'Most Recent Week'
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        data: [{{week|safe}}],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                   '<span style="font-size:12px;color:silver">{{status_week|safe}}</span></div>'
        }
    }]

}));

// The month gauge
var chartRpm = Highcharts.chart('container-month', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: 'Most Recent Month'
        }
    },

	credits: {
        enabled: false
    },

    series: [{
        data: [{{month|safe}}],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                   '<span style="font-size:12px;color:silver">{{status_month|safe}}</span></div>'
        }
    }]

}));

    Highcharts.chart('container', {
        credits: {
			enabled: false
		},
		chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Health Level Records by Meal'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
			min: 0,
			max: 100,
            title: {
                text: 'Score'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[2]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[2]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Score',
            data: newdata
        }]
    });
		</script>
	</body>
</html>
